

#weng {
	@include span-columns(5 of 12);
  float: left;
 
  img {
	  border-radius: 4px;
	  min-width:200px;
	  margin: 5px auto;
  }

  @include media($mobile) {
    @include span-columns(12 of 12);
  }

  .projects {
      margin-top: 10px;

    .project {

        a {
          color: $tomato;
        }

        a:hover {
          color: darken($tomato, 15%);
        }

        .project-title {
          font-size: 1em;
          font-weight: 400;
          @include span-columns(2 of 5);
        }

        .project-description {
          padding-left: 1em;
          @include span-columns(5 of 5);
        }

       
    }

     .separator {
          @include span-columns(5 of 5);
          margin-top: 0;
        }
  }

  @include clearfix;
}

#introduction {
  @include span-columns(6 of 12);
  float:right;
  @include media($mobile) {
    @include span-columns(12 of 12);
  }
}




