#main {
    @include outer-container;
    margin-top: 120px;
    @include media($mobile) {
      padding: 0 8px;
      font-size: $base-mobile-font-size;
    }
    padding: 0 8px;
   
}


body {
    margin: 0;
    font-size: $base-font-size;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

.article {
	margin: 0 0 3em;
}

.archives {
  border-top: 1px solid $base-border-color;
  margin: 2em 0;
  padding-top: 2em;
}