<footer class="footer" role="contentinfo">
	<div class="footer-logos">
	  	<a href="" class="logo"><img src="/images/linked-in-footer-logo.png" /></a>
	  	<a href="" class="logo"><img src="/images/github-footer-logo.png" /></a>
	  	<a href="" class="logo"><img src="/images/twitter-footer-logo.png" /></a>
  	</div>
</footer>