<footer role="contentinfo">
	<div class="footer-links">
		<a href="mailto: wengcheong.sin@gmail.com" class="email" id= "contact-me"><button>Email Me</button></a>
	  	<a href="http://www.linkedin.com/in/wengcheongsin" class="logo"><img src="/images/linked-in-footer-logo.png" /></a>
	  	<a href="http://github.com/wengs" class="logo github"><img src="/images/github-footer-logo.png" /></a>
	  	<a href="https://twitter.com/wengcheongsin" class="logo"><img src="/images/twitter-footer-logo.png" /></a>
	</div>
</footer>