<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      Weng Sin
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="about.html">About Me</a></li>
        <li class="nav-link"><a href="">Contact</a></li>
        <li class="nav-link"><a href="">Blog</a></li>
        
      </ul>
    </nav>
  </div>
</header>

		


