---
title: Group Project - A Chess Game
date: 2015-03-27
tags: FirehoseProject, GroupProject
---

<p>My Firehose team project kicked off last week. Our goal is to build a chess game. Today, I just had the second virtual meeting with my teammates. Although the first week was not very exciting because we were just trying to get everything set up, I learned how to use some advanced GitHub skills to collaborate with others, such as, branches and pull requests. </p>

<p>I was assigned to add a front-end framework to our repository last week. After adding the Bootstrap, I pushed my code to a new branch and made a pull request so that other team members were able to do a code review. However, there was a merge conflict after my pull request. The reason was I did not update my branch from the master branch after one of the team members pushed his code to master. Both of us edited the same line in the Gemfile, so GitHub was confused which version it should accept. In this case, we wanted to keep both because we were trying to add a devise gem and the Bootstrap framwork to the Gemfile. However, this may not always be the case in the future because there might be bugs or a team member deleted others' code accidentally. Creating pull requests allow all members to get involved and review the changes before they are merged into master branch. It is important for me to build good habits on the first day before things get complicated</p>