
	<div id="weng">
		<%= image_tag "images/Weng.png"%>
	</div>

	<div id= "introduction">
		<p>My name is Weng Sin. I primary use Ruby on Rails, but I can pick up a new language and framework quickly. I am currently enrolled in the Firehose Project, an online intensive coding bootcamp.</p>

		<p>I graduated from UCLA and majored in Civil & Environmental Engineering. 
		I already developed several web applications, such as, a random code generator, attractions  </p>

		<p></p>
	</div>
