<div id= "about">
<p>My name is Weng Sin. I primary use Ruby and Rail, but I can pick up a new language and framework quickly. I am currently enrolled for the Firehose Project, an online intensive coding bootcamp. I already developed several web applications, such as, a random code generator, attractions  </p>

<p></p>
</div>