<div id="weng">
	<%= image_tag "images/Weng.png"%>
	<div class="work">
	<h2>Projects</h2>
</div>
</div>

<div id= "introduction">
	<p>My name is Weng Sin. I primarily use Ruby on Rails, but I can pick up a new language and framework quickly. I am currently enrolled in the Firehose Project, an online intensive coding bootcamp.</p>

	<p>I graduated from UCLA and majored in Civil & Environmental Engineering in 2014. I have learned programming since my high school, but I never thought coding should be my career. However, in my senior year of college, I took a few introduction to computer science courses and realized concepts like algorithms and data structures were very fascinating. I spents days and days debugging or to come up a better algorithm in order to have a better run time. I also got exposed to the concept of object-oriented programming(OOP). OOP changed my way to think. OOP was just like world around us. Everything around us is object and they need to be organize and transfer to something useful, which is a programmer's job, translating thinking to code. </p>

	<p>I wanted to be a developer. I knew that is not going to be easy, but I believe that I should not let what I studied in colloege to define my future. To become a web developer, I not only need to be comfortable with self-learning, but also to learn fast. Self-improvement is so important. I could either do something I do not like, but decide to be silent or try to put in everything to achieve my goal. I chose the latter. I learn new things every single day. Therefore, I created this personal website to record this journey.</p>
</div>


