<div id="weng">
	<%= image_tag "images/Weng.png"%>
	<div class="projects">
		<h2>Projects</h2>
		<div class="project">
		<a href= "http://flixter-weng-sin.herokuapp.com" class= "project-title"><b>Flixter</b></a></button> 
			<p class= "project-description">A sophisticated online training system, including video lectures, instructor and student interface, and online payments.</p>
		</div>

		<hr class= "separator"/>
		<div class="project">
			<a href= "http://nomster-weng-sin.herokuapp.com" class= "project-title"><b>Nomster</b></a>
			<p class= "project-description">An Yelp-like application, providing a platform for UCLA students to explore new attractions by reviewing and recommending top restaurants, shopping and entertainment.</p>
		</div>
		<hr class= "separator"/>
		<div class="project">
			<a href= "http://splurty-weng-sin.herokuapp.com" class= "project-title"><b>Splurty</b></a>
			<p class= "project-description">A simple inspirational random quotes generator, allowing users to contribute the favorite quotes to inspire others.</p>
		</div>
	</div>
</div>

<div id= "introduction">
	<hr />
	<h2>About Me</h2>
	<p>My name is Weng Sin. I am a web developer. I primarily use Ruby on Rails, but I can pick up a new language and framework quickly. I am currently enrolled in the Firehose Project, an intensive online coding bootcamp.</p>

	<p>I graduated from UCLA in 2014 and majored in Civil & Environmental Engineering. I have learned programming since my high school, but I never thought coding should be my career. However, in my senior year of college, I took a few introduction to computer science courses and realized concepts like algorithms and data structures were very fascinating. I spent days and days on debugging or to come up with a better algorithm in order to have a better run time.</p>

	<p>I also got exposed to the concept of object-oriented programming(OOP). OOP changed my way to think. OOP was exactly like the world around us. Everything around us is objects. A programmer's job is to organize and transform them to something useful. The ultimate goal is to translate thoughts to code.</p>

	<p>I want to become a developer. I know it is not easy, but I believe what I studied in colloege does not define my future. To become a web developer, I not only need to be comfortable with self-learning, but also to learn fast. Self-improvement is so important. I could either do something I do not like, but decide to be silent or try to put in everything to achieve my goal. I chose the latter. I learn new things every single day. Therefore, I created this personal website to record this journey.</p>
</div>

<br class="clear" />


