
<div id= "introduction">
	<%= image_tag "images/Weng.png"%>

	<h3>About Me</h3>
	<p>My name is Weng Sin. I am a web developer. I primarily use Ruby on Rails, but I can pick up a new language and framework quickly. I am currently enrolled in the Firehose Project, an intensive online coding bootcamp.</p>
	<p>When I am not coding, I love snowboarding, swimming, working out, hiking and watching movies. </p>

	

</div>

<div id="weng">
	<div class="projects">
		<h2>Projects</h2>
		<div class="project">
		<a href= "http://flixter-weng-sin.herokuapp.com" class= "project-title"><b>Flixter</b></a></button> 
			<p class= "project-description">A sophisticated online training system, including video lectures, instructor and student interface, and online payments.</p>
		</div>

		<hr class= "separator"/>
		<div class="project">
			<a href= "http://nomster-weng-sin.herokuapp.com" class= "project-title"><b>Nomster</b></a>
			<p class= "project-description">An Yelp-like application, providing a platform for UCLA students to explore new attractions by reviewing and recommending top restaurants, shopping and entertainment.</p>
		</div>
		<hr class= "separator"/>
		<div class="project">
			<a href= "http://splurty-weng-sin.herokuapp.com" class= "project-title"><b>Splurty</b></a>
			<p class= "project-description">A simple inspirational random quotes generator, allowing users to contribute the favorite quotes to inspire others.</p>
		</div>
	</div>

</div>





<br class="clear" />

